<!DOCTYPE html>
<html>
    <head>
        <title>solar system</title>
        <link rel="stylesheet" href="/css/styles.css" />
                <!--Bootstrap files-->
        <!--Bootstrap files-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav>
            <a class = "link" href = "/"> home </span> </a>
            <a class = "link" href = "mercury"> mercury</a>
            <a class = "link" href = "venus"> venus </a>
            <a class = "link" href = "earth">earth</a>
            <a class = "link" href = "mars">mars</a>
        </nav>
