<!DOCTYPE html>
<html>
    <head>
        <title> Admin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
        
        <script>
            $(document).ready( function() {
                $("#movies").hide();
                
                $("#movieInfo").on("click", function() {
                    if($("#movies").is(":hidden")) {
                        $("#movies").show();
                    } else {
                        $("#movies").hide();

                    }

                    
                    });
                    
                $("#directorInfo").on("click", function() {

                    });
                    
                $("#pricingInfo").on("click", function() {

                    });

                });
        
        </script>
        
        <h1> Admin Section </h1>

        <form action="/login">
            <button id="logOut">Log Out</button>
        </form>
        
        <button id ="movieInfo">Movie Info</button>
        <button id ="directorInfo">Director Info</button>
        <button id ="pricingInfo">Pricing Info</button>

        <div id="movies">
            <% movieList.forEach(function(movie){  %>
                <%= movie.movieName %> <br> <%= movie.description %> <br><br>
            <% }) %>

        </div>
        
    </body>
</html>