<!DOCTYPE html>
<html>
    <head>
        <title> Admin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        
        <!--<script>-->
        <!--    $(document).ready( function() {-->
        <!--        $(".removeAuthor").on("click", function(event) {-->
        <!--            if(confirm("Delete Author?") == false) {-->
        <!--                event.preventDefault();-->
        <!--            }-->
        <!--        })-->
        <!--    })-->
        <!--</script>-->
        
        <h1> Admin Section </h1>

        <form action="/login">
            <button id="logOut">Log Out</button>
        </form>
        
        <!--<form action="/addAuthor">-->
        <!--  <button> Add New Author </button> -->
        <!--</form>-->
        
        <h3>Movies</h3>
        
        <% movieList.forEach(function(movie){  %>
        
        
        
            <%= movie.movieName %> <br> <%=movie.description %> <br><br>
        
        
        <% }) %>
        
    </body>
</html>