<!DOCTYPE html>
<html>
    <head>
        <title> Shopping Cart </title>
        <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet'>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
                $(document).ready(function() {
                
                
                $(".delete").on("click", function() {
                    if (!confirm("Would you like to remove this movie from your cart?")) {
                        event.preventDefault(); //prevents default behavior of the links
                    } else {
                        // some stuff
                    }
                    
                });
                
                    // $("#loginBtn").on("click", function(){
                    //     //alert("works!");
                    //     $.ajax({
                    //           method: "post",
                    //              url: "/loginProcess",
                    //         dataType: "json",
                    //             data: { "username":$("#username").val(),
                    //                     "password":$("#password").val() },
                    //          success: function(result,status) {
                    //             //alert(result);
                    //             if (!result) {
                                    
                    //                 alert("Wrong credentials!");
                    //             } else {
                    //                 location.href = "/admin"; //redirects to admin route
                                    
                    //             }
                    //         }
                            
                    //     });//ajax
                        
                    });//click
                
                }); //document.ready
        
        </script>
        
    </head>
    <body>
        
        <h1> Shopping Cart </h1>
        
       
        
    </body>
</html>