<!DOCTYPE html>
<html>
    <head>
        <title> Catalog</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        
        
        <script>
            $(document).ready( function() {
                cart.forEach(function(item) {
                    console.log(item.movieName);
                })
                
                $(".buy").on("click", function() {
                    if (cart.includes(/*some movie object */)) {
                        alert("Movie is already in your cart.");
                    } else {
                        alert("Added to cart!");
                    }
                });
                
                
                
            });
        </script>

    </head>
    <body>
        
        
        
        
        <!--
        search by name
        search by director [dropdown]
        search by age rating [dropdown]
        
        
        
        sort by price ascending
        sort by imdb rating ascending
        sort by price descending
        sort by imdb rating descending
        
        
        
        
        
        
        
        how2display
        
        movie poster
        movie titel
        directed by fgsfds
        description
        rating
        imdb
        
        add 2 cart!
        
        if cart.includes(movie) {
            alert("Dude. You already bought this movie.")
        } else {
            alert("Movie added to cart!")
        -->
    </body>
</html>