<!DOCTYPE html>
<html>
    <head>
        <title> Otterflix </title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
                $(document).ready(function() {
                
                
                    $("#loginBtn").on("click", function(){
                        //alert("works!");
                        $.ajax({
                              method: "post",
                                 url: "/loginProcess",
                            dataType: "json",
                                data: { "username":$("#username").val(),
                                        "password":$("#password").val() },
                             success: function(result,status) {
                                //alert(result);
                                if (!result) {
                                    
                                    alert("Wrong credentials!");
                                } else {
                                    location.href = "/admin"; //redirects to admin route
                                    
                                }
                            }
                            
                        });//ajax
                        
                    });//click
                
                }); //document.ready
        
        </script>
        
    </head>
    <body>
        
        <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/191209/6194859696ee441ffec73b82ebdf74ea.png" alt="netflix-font" border="0"></a>

    
       
        
    </body>
</html>