<!DOCTYPE html>
<html>
    <head>
        <title> Otterflix </title>
        <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet'>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script>
                $(document).ready(function() {
                
                
                    // $("#loginBtn").on("click", function(){
                    //     //alert("works!");
                    //     $.ajax({
                    //           method: "post",
                    //              url: "/loginProcess",
                    //         dataType: "json",
                    //             data: { "username":$("#username").val(),
                    //                     "password":$("#password").val() },
                    //          success: function(result,status) {
                    //             //alert(result);
                    //             if (!result) {
                                    
                    //                 alert("Wrong credentials!");
                    //             } else {
                    //                 location.href = "/admin"; //redirects to admin route
                                    
                    //             }
                    //         }
                            
                    //     });//ajax
                        
                    // });//click
                
                }); //document.ready
        
        </script>
        
    </head>
    <body id = "main">
        
        <!--
            TODO:
                FUCKING CENTER SHIT
                
        -->
        <!--fucking border-->
        <div class="text-center">
            <div class="container-fluid">
                <img src="https://fontmeme.com/permalink/191210/a05d5c24827f8643d8402de17c4fa4a5.png" width="437" alt="otterflix" border="0">        
                <h3 id="title">Bringing you every movie from sea to shining sea!</h3>
            </div>
        </div>
       <!--fucking border-->
       
       
       
       <!--fucking random ass movies-->
        
    </body>
</html>