<!DOCTYPE html>
<html>
    <head>
        <title> New Movie</title>
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <h1> Adding a New Movie </h1>
        

        <form method="POST">
        
            Movie Title: <input type="text" name="movieName"><br>    
            Price: <input type="text" name="price" value="Ex: 12.99"><br>    
            Length(Minutes) <input type="text" name="length"><br>
            Movie Rating<input type="text" name="imdbRating" value="Ex: 8.2"><br>
            Year Produced <input type="text" name="year"><br>
            Set Image URL <input type="text" name="image"><br>
            Description <textarea name="description" cols="50" height="20"></textarea>
            <br><br>
            <button>Add Movie</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        <form action="/admin">
            <button id="goBack">Go Back</button>
        </form>       

        
    </body>
</html>