<!DOCTYPE html>
<html>
    <head>
        <title> New Movie</title>
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet'>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>

        
        <div class="jumbotron jumbotron-fluid">
            <div class="text-center">
                <div class="container-fluid">
                    <h1> Adding a New Movie </h1>
                    <br>
                </div>
            </div>
        </div>

        <form method="POST">
        
            Movie Title: <input type="text" name="movieName"><br>    
            Price: <input type="text" name="price" placeholder="Ex: 12.99"><br>    
            Length(Minutes) <input type="text" name="length"><br>
            Movie Rating<input type="text" name="imdbRating" placeholder="Ex: 8.2"><br>
            Year Produced <input type="text" name="year"><br>
            Set Image URL <input type="text" name="image"><br>
            Description <textarea name="description" cols="50" height="20"></textarea>
            <br><br>
            <button>Add Movie</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        <form action="/admin">
            <button id="goBack">Go Back</button>
        </form>       

        
    </body>
</html>