<!DOCTYPE html>
<html>
    <head>
        <title>Update Director </title>
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <h1> Updating Director </h1>
        

        <form method="POST">
        
            First Name: <input type="text" name="firstName"
                        value="<%= directorInfo.firstName%>"><br>    
            Last Name: <input type="text" name="lastName"
                        value="<%= directorInfo.lastName %>"><br> 

                    
            <input type="hidden" name="directorId" value="<%= directorInfo.directorId %>"> 
            
            <br><br>
            <button>Update Director</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>